.form-implementer-risks-chance {
    width: 400px;
    height: 300px;
    padding:20px;
    background-color:rgba(247, 247, 247, 0.46);
    color:rgba(7, 11, 19, 1);
    
    position: relative;
    top: 10px; left: 18px;
    flex: 1 1 auto;
    margin: 2px; 
    border-radius:10px;
}